@tailwind base;
@tailwind components;
@tailwind utilities;

@l: root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #303030;
  background-color: #dfeaf7;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .common-input {
    @apply py-4 font-medium outline-0 px-3.5 rounded-xl border;
  }
  .custom-button {
    @apply py-4 font-medium outline-0 px-3.5 rounded-xl border w-full mt-2 flex items-center justify-center bg-[#6E00FF] text-white border-[#6E00FF] hover:bg-white hover:text-black transition-all duration-700 ease-in-out text-xl;
    box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38);
  }
}

.search_bar {
  box-shadow: 0px 4px 5px 2px rgba(121, 197, 239, 0.38);

}

@media (max-width:1023px) {
  
  .chat_body{
    box-shadow: none;
  }
}
/* Style the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgba(121, 197, 239, 0.38);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

/* Style the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  background-color: transparent;
}
